.navbar{
    font-family: 'Bebas Neue', sans-serif; 
    font-size :1.3em;    
    padding-bottom: 0;        
}

.navbar-brand{    
    font-family: 'Bebas Neue', sans-serif;
    font-size :1.4em; 
    color: rgb(66, 64, 64) !important;    
}







.masthead{
    height: 100vh;          
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;  
    background-attachment: fixed;    
}

.masthead p{
    font-family: 'Nanum Pen Script',sans-serif;
    font-size: 4.05em;        
    color: white;
}

.masthead p span{
    font-family: 'Lato', sans-serif;
    font-size: 0.3em;
}

.masthead p.tab{
    padding-right:21%;
}

.masthead h1, .masthead h3{
    font-family: 'Roboto Condensed', sans-serif;  
    color: #1ac9cf;          
}

.masthead h1 span{    
    font-family: 'Michroma',sans-serif;   
    color: white;
}

.masthead h3 span{
    color: white;
}




@media only screen and (max-width:854px){
    .masthead p{
        font-family: 'Nanum Pen Script',sans-serif;
        font-size: 2.05em;        
        color: white;
    }

    .masthead p span{
        font-family: 'Lato', sans-serif;
        font-size: 0.3em;
    }

    .masthead p.tab{
        padding-right:21%;
    }

    .masthead h1{
        font-family: 'Roboto Condensed', sans-serif;  
        color: #1ac9cf;
        margin-top: 30px;
        font-size: 50px;          
    }

    .masthead h3{
        font-family: 'Roboto Condensed', sans-serif;  
        color: #1ac9cf;  
        font-size:30px;       
    }

    .masthead h1 span{    
        font-family: 'Michroma',sans-serif;   
        color: white;
    }

    .masthead h3 span{
        color: white;
    }
}





.about .container{
    padding-top: 5%;
    padding-bottom: 5%;
}


.about h1{
    font-family: 'Ubuntu', sans-serif;
}


.about h1 span{
    color: #1ac9cf;  
}

.about p{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.3em;
}


.about p span{
    color: rgb(194, 18, 247);
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 1.5em;
}

.about img.shake{
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0%{ transform: translate(1px,1px) rotate(0deg);}
    10%{ transform: translate(-1px,-2px) rotate(-1deg);}
    20%{ transform: translate(-3px,0px) rotate(1deg);}
    30%{ transform: translate(3px,2px) rotate(0deg);}
    40%{ transform: translate(1px,-1px) rotate(1deg);}
    50%{ transform: translate(-1px,2px) rotate(-1deg);}
    60%{ transform: translate(-3px,1px) rotate(0deg);}
    70%{ transform: translate(3px,1px) rotate(-1deg);}
    80%{ transform: translate(-1px,-1px) rotate(1deg);}
    90%{ transform: translate(1px,2px) rotate(0deg);}
    100%{ transform: translate(1px,-2px) rotate(-1deg);}
}

@media only screen and (max-width:575px){
    .about h1{
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }

    .about p{
        font-family: 'Red Hat Text', sans-serif;
        font-size: 1.3em;
        text-align: center;
    }
}





.skill{
    height: 100%;
    background-color: rgb(253, 249, 252);
}

.skill h1{
    font-family:'Ubuntu', sans-serif;  
    position:relative;
    z-index: 4;       
}

.skill h1 span{
    color: rgb(194, 18, 247);    
}

.skill p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    margin-bottom: 0;  
    margin-top: 1%;    
   }

.skill .bg-info{
    background-color: #4dd0e1 !important;
}

.skill .progress{
    background-color: rgba(223, 217, 217, 0.897);
    height: 20px;
}

.progress-bar{
    color: #333;
    text-align: right;
    padding-right: 0.4em;
    font-weight: bold;
}

.skill .box{
    width:26%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: rgb(255, 219, 16);
    z-index: 0;   
}

.skill .boxtext{
    margin-top: 15%;
    font-family: 'Gamja Flower', sans-serif;
    color: #333; 
}

@media only screen and (max-width:1025px){
    .skill .box{   
        width:44%;
        height: 50%;
    }

    .skill .boxtext{
        margin-top: 20%;
        font-size: 1.2em;    
    }

    .skill p{
        font-size: 1.1em;
    }
}





.resume{
    background-color: rgb(253, 249, 252);
    font-family: 'Ubuntu', sans-serif;
    height: 100%;    
    padding: 4% 2%;
    padding-bottom: 9%;
    
}

.resume .container{
    height: 100%;        
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 237, 243, 0.562)), url(img/bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;    
    background-position: center;
    background-attachment: fixed;       
}

.resume .head{
    font-weight: 700;    
}

.resume .achv{
    font-size: 0.95em;
}

.resume .bg-info{
    background-color: #4dd0e1 !important;
}

.resume .progress{
    background-color: rgba(223, 217, 217, 0.897);
    height: 20px;   
}

.resume .edu{
    font-weight: bold;
}

.resume .edu span{
    font-size: 0.95em;
    font-weight: lighter;
}

.btn{
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;    
}

.resume .btn_space{
    padding-top: 10%;
}





.contact .container{
    padding-bottom: 6em !important;
    padding-top: 6em !important;
}

.contact h1{
    font-family: 'Ubuntu', sans-serif;
}

.contact .form-group{
    font-family: 'Ubuntu', sans-serif;    
}

.contact .btn{
    text-align: center;
}

@media only screen and (max-width:575px){
    .contact .container{    
        text-align: center;
    }    

    .contact .form-control{
        text-align: center;
    }
}





footer{
    background-color:#333;
    color: #fafafa;
}

footer i.sns{
    font-size: 1.5em; 
    color: white;   
}

footer .ph{
    color: white;
}


