.navbar{
    font-family: 'Bebas Neue', sans-serif;
}





.masthead{
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(/img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;  
    background-attachment: fixed;
}

.masthead p{
    font-family: 'Nanum Pen Script',sans-serif;
    font-size: 65px;        
    color: white;
}

.masthead p span{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.masthead .tab{
    padding-left: 15%;
}

.masthead h1, .masthead h3{
    font-family: 'Roboto Condensed', sans-serif;  
    color: #1ac9cf;          
}

.masthead h1 span{    
    font-family: 'Michroma',sans-serif;   
    color: white;
}

.masthead h3 span{
    color: white;
}




.about .container{
    padding-top: 8%;
    padding-bottom: 8%;
}


.about h1{
    font-family: 'Ubuntu', sans-serif;
}


.about h1 span{
    color: #1ac9cf;
    font-family: 'Michroma', sans-serif;

}

.about p{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.3em;
}


.about p span{
    color: rgb(194, 18, 247);
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 1.5em;
}

.about img.shake{
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0%{ transform: translate(1px,1px) rotate(0deg);}
    10%{ transform: translate(-1px,-2px) rotate(-1deg);}
    20%{ transform: translate(-3px,0px) rotate(1deg);}
    30%{ transform: translate(3px,2px) rotate(0deg);}
    40%{ transform: translate(1px,-1px) rotate(1deg);}
    50%{ transform: translate(-1px,2px) rotate(-1deg);}
    60%{ transform: translate(-3px,1px) rotate(0deg);}
    70%{ transform: translate(3px,1px) rotate(-1deg);}
    80%{ transform: translate(-1px,-1px) rotate(1deg);}
    90%{ transform: translate(1px,2px) rotate(0deg);}
    100%{ transform: translate(1px,-2px) rotate(-1deg);}
}



.skill{
    height: 100vh;
    background-color: rgb(253, 249, 252);
     
      
}

.skill h1{
    font-family: 'Ubuntu', sans-serif;   
    color: #1ac9cf; 
    position:relative;
    z-index: 4;
       
}

.skill h1 span{
    color: rgb(194, 18, 247);    
}

.skill p{
    color: rgb(150, 50, 180);
    font-family: 'NTR', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0;  
    margin-top: 5px;
    }

.skillbar .container{
    width: 70%;
    background-color: #ddd;
    color: white;
    text-align: right; 
    padding-left: 0%;   
}

.skill .box{
    border: 1px solid #F1FE00;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 500px;
    background-color: #F1FE00;
    z-index: 0;   
}

.skill .boxtext{
    margin-top: 50px;
    font-family: 'Gamja Flower', sans-serif;
    color: #000;

}

.skillbar .html{width: 90%; background-color: #1ac9cf;font-family: 'Ubuntu',sans-serif;}
.skillbar .css{width: 75%; background-color: #1ac9cf; font-family: 'Ubuntu',sans-serif;}
.skillbar .bootstrap{width: 85%; background-color: #1ac9cf; font-family: 'Ubuntu',sans-serif;}
.skillbar .js{width: 60%; background-color: #1ac9cf; font-family: 'Ubuntu',sans-serif;}
.skillbar .jquery{width: 60%; background-color: #1ac9cf; font-family: 'Ubuntu',sans-serif;}





.scroll{
    background-color: rgb(253, 249, 252);
}

.scroll .img{
    height: 150vh;
    min-height: 500px;    
    background-image: url(/img/salty.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}